{{page-title "New"}}
<h2>New Book</h2>
<form {{on "submit" this.createBook}}>
  Title: <Input @value={{this.newTitle}} placeholder="Fill in Title" /> <br>
  ISBN: <Input @value={{this.newIsbn}} placeholder="Fill in ISBN" /><br>
  Abstract: <Input @value={{this.newAbstract}} placeholder="Fill in Abstract" /><br>
  <button type="submit">Create</button>
</form>